.body {
    background-color: black;
   }

.card{
    background-color: lightgray;
    border-radius: 75px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-family: 'poppins', sans-serif;
    width: 60%;
}

.card button{
    background-color: aquamarine;
    color: black;
    border: 1px;
    border-color: black;
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-family: 'poppins', sans-serif;
    width: 60%;
}

.card h2 {
    color:black;
    margin: 0;
    font-size: 45px;
}