
.dash{
    align-items: center;
    height: 750px;
    width: 1520px;
    display: flex;
    background-color: gray;
 }

 .right{
    flex-basis: 50%;
    align-items: center;
 }

 .left{
    margin-left: 150px;
    align-items: center;
 }

 .card{
    margin: 60px;
    text-align: center;
 }

.left h1{
font-size: 70px;
margin-left: 90px;
 }