body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

button{
    font-size: 1rem;
    margin: 10px;
    border: none;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

 .itemlabal{
    margin-left: 20px;
    padding: 0px;
 }

 .iteminput{
    margin-left: 20px;
 }
 
 .maindiv{
    display: flex;
    width: 50%;
    background-color: azure;
 }

 .button-right{
    flex-basis: 50%;
    align-items: center;
 }
 