.Sidebar{
    height: 800px;
    width:300px;
    background-color:#000e35;
}

.Sidebarlist{
    height: auto;
    padding: 0;
    width: 100%;
}

.Sidebarlist .row{
width: 100%;
height: 50px;
border:2px solid rgb(255, 255, 255);
list-style-type: none;
margin: 0px;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
}

.Sidebarlist .row:hover{
    cursor: pointer;
    background-color: #efdc57;
    color: #000e35;

}

.row #icon{
    flex: 20%;
    display: grid;
    place-items: center;

}

.row #title{
    flex: 80%;
}


.sideBar-h1{
    color: white;
    text-align: center;
    padding: 20px;
}