.supLanding-Main{
    display: flex;
    flex-direction: row;   
    height: 100vh;
}

.supLanding-Main-Left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: #b4e58c;

}

.supLanding-Main-Left-p{
    display: flex;
    font-size: 4.5rem;
    font-weight: bold;
    color: #000e35;
    width: 100%;
    height: 15vh;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}


.background-sup{
    display: flex;
    width: 100%;
    height: 70vh;
}

.supLanding-Main-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: white;

}