.Sidebar{
    height: 800px;
    width:300px;
    background-color:grey;
}

.Sidebarlist{
    height: auto;
    padding: 0;
    width: 100%;
}

.Sidebarlist .row{
width: 100%;
height: 50px;
border:2px solid grey;
list-style-type: none;
margin: 0px;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
}

.Sidebarlist .row:hover{
    cursor: pointer;
    background-color: darkslategrey;

}

.row #icon{
    flex: 20%;
    display: grid;
    place-items: center;

}

.row #title{
    flex: 80%;
}

.Sidebar h1{
    text-align: center;
    color: aquamarine;
    padding: 20px;
}